@import "tailwindcss";

:root {
  --color-cs-blue: #00b5e2;
  --color-cs-orange: #ffa300;
  --color-cs-dark-blue: #00629b;
  --color-cs-gray: #75787b;
}

.text-smart-animate > * {
  opacity: 0;
}

.text-smart-animate.running > * {
  animation: 200ms ease-in textSmartAnimate forwards;
}

@keyframes textSmartAnimate {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.appear-up-animate {
  opacity: 0;
  transform: translateY(20px);
}

.appear-up-animate.running {
  animation: 300ms ease-in appearUpAnimate forwards;
}

@keyframes appearUpAnimate {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 1;
}

.animated-background span {
  position: absolute;
  font-family: monospace;
  font-size: 32px;
  color: var(--color-cs-blue);
  user-select: none;
  opacity: 0.03;
  animation-name: flicker;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes flicker {
  0%,
  40%,
  100% {
    opacity: 0.02;
  }

  20% {
    opacity: 0.1;
  }
}

.appear-down {
  transform: translateY(-40px);
  opacity: 0;
  animation: 200ms appearDown forwards;
}

.disappear-up {
  transform: translateY(0);
  opacity: 1;
  animation: 200ms disappearUp forwards;
}

@keyframes appearDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappearUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

[data-visible="false"] {
  display: none;
}

.day-btn.active {
  background-color: #2563eb;
  color: white;
  border-color: #3b82f6;
  box-shadow: 0 0 15px rgba(37, 99, 235, 0.5);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

.structured-data {
  display: none;
}

@theme {
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fb923c;

  /* Custom Brand Color */
  --color-orange-500: #ffa300;

  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;

  --color-orange: #ffa300;
}
